[Service]
ExecStartPre=/shared/scripts/restart_servo.py
ExecStart=/shared/scripts/fold-laundry.sh
Restart=always
[Install]
WantedBy=multi-user.target
